<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="*origin">
    
    <link name="sensor_kit_base_link">
    </link>
    <joint name="sensor_kit_base_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="base_link"/>
      <child link="sensor_kit_base_link"/>
    </joint>

    <!-- Front Top LiDAR -->
    <link name="front_top_lidar_link">
      <visual>
        <geometry><cylinder radius="0.05" length="0.1"/></geometry>
        <material name="lidar_mat"><color rgba="0.1 0.1 0.1 1.0"/></material>
      </visual>
    </link>
    <joint name="front_top_lidar_joint" type="fixed">
      <parent link="sensor_kit_base_link"/>
      <child link="front_top_lidar_link"/>
      <origin xyz="1.94 0.0 2.1" rpy="0 0 0"/>
    </joint>

    <!-- Front Left LiDAR (In ROS, +Y is Left) -->
    <link name="front_left_lidar_link">
      <visual>
        <geometry><cylinder radius="0.05" length="0.1"/></geometry>
        <material name="lidar_mat"/>
      </visual>
    </link>
    <joint name="front_left_lidar_joint" type="fixed">
      <parent link="sensor_kit_base_link"/>
      <child link="front_left_lidar_link"/>
      <origin xyz="2.37 0.7 0.3" rpy="0 0 0"/>
    </joint>

    <!-- Front Right LiDAR (In ROS, -Y is Right) -->
    <link name="front_right_lidar_link">
      <visual>
        <geometry><cylinder radius="0.05" length="0.1"/></geometry>
        <material name="lidar_mat"/>
      </visual>
    </link>
    <joint name="front_right_lidar_joint" type="fixed">
      <parent link="sensor_kit_base_link"/>
      <child link="front_right_lidar_link"/>
      <origin xyz="2.37 -0.7 0.3" rpy="0 0 0"/>
    </joint>

    <!-- IMU (Center of rear axle, 0.2m high) -->
    <link name="imu_link">
      <visual>
        <geometry><box size="0.1 0.1 0.05"/></geometry>
        <material name="imu_mat"><color rgba="0.0 0.8 0.0 1.0"/></material>
      </visual>
    </link>
    <joint name="imu_joint" type="fixed">
      <parent link="sensor_kit_base_link"/>
      <child link="imu_link"/>
      <origin xyz="0.0 0.0 0.2" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
